body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    background-color: black;
}

header {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vh;
    font-weight: 500;
    
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-around;    
}
