@font-face {
    font-family: Toyota;
    src: url(fonts/Toyota/Toyota/avenir\ lt\ std\ black.otf);
}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    background-color: black;
}

header {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    align-items: center;
    font-family: Toyota, sans-serif;
    font-size: 4vh;
    font-weight: 500;
    
}

.container {
    padding-left: 10vh;
    padding-right: 10vh;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

.Logotext {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    color: red;
}

